/*
    css
*/

@charset "UTF-8";

.content{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fffff1;
}

.titletext{
    padding-left: 100px;
    padding-top: 80px;/*headerと文字の距離*/
}

.line {
    border: none;
    background-color: #000000;
    height: 2px;
    margin-top: 0;
}

@media (max-width:1000px) {
    .titletext{
        padding-left: 50px;
        padding-top: 80px;/*headerと文字の距離*/
    }
  }

@media (max-width:768px) {
    .titletext{
        padding-left: 10px;
        padding-top: 80px;/*headerと文字の距離*/
    }
  }