/*
    css
*/

@charset "UTF-8";

.content {
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #ffffff;
}

.blogcontents {
    display: flex;
}

.link :hover{
    color: #0004ff;
    opacity: 50%;
}

.nametitle {
    padding-bottom: 10px; /*タイトルと説明の距離*/
    line-height: 1.5em;
}

.namecontents {
    padding-left: 50px;
    padding-right: 50px;
}


.summarycontents {
    padding-top: 10px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.image {
    width: 40vw;
    height: auto;
    border-radius: 15px;
}


@media (max-width:1000px) {
    .content {
        padding-left: 50px;
        padding-right: 50px;
    }
  }

@media (max-width:768px) {

    .image {
        width: 90vw;
        height: auto;
        border-radius: 15px;
    }
    .content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .namecontents {
        padding-left: 10px;
        padding-right: 10px;
    }
    .blogcontents {
        display: block;
    }
  }