/*
    css
*/

@charset "UTF-8";

.content {
    padding-bottom: 20px;
    padding-left: 138px;
    padding-right: 138px;
    background-color: #fffff1;
}

.blogcontents {
    display: flex;
}

.link :hover{
    color: #0004ff;
    opacity: 50%;
}

.nametitle {
    font-size: 30px;
    color: #000000;
    text-decoration: underline;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
        sans-serif;
    padding-bottom: 10px; /*タイトルと説明の距離*/
    line-height: 1.5em;
}

.namecontents {
    padding-left: 80px;
}

.text {
    font-size: 18px;
    color: #000000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
        sans-serif;
    line-height: 1.5em;
}

.summarycontents {
    padding-top: 10px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.image {
    border-radius: 15px;
}
