/*
    css
*/

@charset "UTF-8";

.content{
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #fffff1;
}

.titletext{
    font-size: 40px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    padding-left: 138px;
    padding-top: 80px;/*headerと文字の距離*/
}

.line {
    border: none;
    background-color: #000000;
    height: 2px;
    margin-top: 0;
}