/*
    css
*/

@charset "UTF-8";

.titletext {
    padding-left: 100px;
    padding-top: 10px;
}

.imagecontents {
    width: 500px; /* 必要に応じて調整 */
    height: auto;
}

.image {
    border-radius: 15px;
    object-fit: cover; /* 必要に応じて調整 */
}

.contentstitle {
    font-size: 30px;
    color: #000000;
    text-decoration: underline;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
        sans-serif;
    padding-bottom: 20px; /*タイトルと説明の距離*/
}

.contents {
    background-color: #fffff1;
}

.workscontents {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    display: flex;
}

.textcontents {
    padding-left: 50px;
}

.link {
    text-decoration: none;
    color: #000000;
}

.link:hover {
    color: #0004ff;
    opacity: 50%;
}

.line {
    border: none;
    background-color: #000000;
    height: 2px;
    margin-top: 0;
}

.portfoliolink {
    color: #f41f1f;
    text-decoration: none;
}

.portfoliolink:hover {
    color: #3c95d0;
    opacity: 50%;
}

@media (max-width: 1000px){
    .imagecontents {
        width: 400px; /* 必要に応じて調整 */
        height: auto;
    }
    .titletext {
        padding-left: 50px;
        padding-top: 10px;
    }
    .workscontents {
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 10px;
        display: flex;
    }
}

@media (max-width: 768px) {
    .imagecontents {
        margin: 0 auto;
        width: 350px; /* 必要に応じて調整 */
        height: auto;
    }
    .titletext {
        padding-left: 10px;
        padding-top: 10px;
    }
    .workscontents {
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        display: block;
    }

    .textcontents {
        padding-left: 10px;
        padding-right: 10px;
    }

    .portfoliolink{
        font-size: 9px;
    }
}
