/*
    footer.module.css
    create:iruka2kurage
    date:2024/10
*/
@charset "UTF-8";

.footer{
    background-color: rgba(91, 222, 248, 0.5);
    text-align: center;
}

.footercontents{
    padding-top: 30px;
    padding-bottom: 30px;
}


@media (max-width:768px) {
    .footercontents{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .licensetext{
        font-size: 12px;
    }
  }