/*
    footer.module.css
    create:iruka2kurage
    date:2024/10
*/

.footer{
    height: 120px;
    background-color: rgba(91, 222, 248, 0.5);
    text-align: center;
}

.footercontents{
    padding-top: 40px;
}

.text{
    font-size: 16px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
        sans-serif;
    color: #000000;
}

.licensetext{
    font-size: 24px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
        sans-serif;
    color: #000000;
    padding-bottom: 5px;
}