/*
   herocss
*/
@charset "UTF-8";

.image {
    text-align: center;
    padding-top: 70px;
}

.hero {
    height: 550px;
    background-color: rgba(85, 85, 85, 0.5);
}

.profilearea {
    height: 300px;
    background-color: rgba(91, 222, 248, 0.6);
}

.profiletext {
    font-size: 40px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic",
        sans-serif;
    color: #ffffff;
    padding-left: 38px;
    padding-top: 10px;
}

.line {
    border: none;
    background-color: #ffffff;
    height: 2px;
}
