/*
   herocss
*/
@charset "UTF-8";

.image {
    text-align: center;
    padding-top: 10px;
}

.img{
    width: 90vw;
    height: auto;
}

.hero {
    padding-top: 50px;
    background-color: #ffffff;
}

.profilearea {
    padding-bottom: 20px;
    background-color: rgba(91, 222, 248, 0.5);
}

.profiletext {
    padding-left: 100px;
    padding-top: 5px;
}

.nametext{
    padding-left: 100px;
    padding-top: 20px;
}

.content{
    padding-left: 100px;
    padding-right: 100px;
}


.link{
    text-decoration: none;
    color: #000000;
}

.link:hover{
    color: #0004ff;
    opacity: 50%;
}

.line {
    border: none;
    background-color: #000000;
    height: 2px;
    margin-top: 0;
}

@media (max-width:1000px) {
    .profiletext {
        padding-left: 50px;
        padding-top: 5px;
    }
    .nametext{
        padding-left: 50px;
        padding-top: 10px;
    }
    
    .content{
        padding-left: 50px;
        padding-right: 50px;
    }
  }

@media (max-width:768px) {
    .profiletext {
        padding-left: 10px;
        padding-top: 5px;
    }
    .nametext{
        padding-left: 10px;
        padding-top: 10px;
    }
    
    .content{
        padding-left: 10px;
    }
    .link{
        font-size: 9px;
    }
  }

