/*
   NaviCSSandheader
   左右それぞれ200px padding
*/
@charset "UTF-8";


/*header左要素*/
.image{
    max-width:100%;
    height:auto;
    padding-left: 100px;
}

.header{ 
    background-color: rgba(91, 222, 248, 0.6);
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
}
/*header右要素*/
.ul{
    display: flex;
    list-style: none;
    padding-right: 100px;
    border: none;
}

.li{
    margin-left: 70px;
}

.link{
    text-decoration: none;
    color: #000000;
}

.nav{
    margin-left: auto;
    padding-right: 2%;
}

.link:hover{
    color: #ffffff;
}